* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  border: dashed red;
  border-top: 5px solid purple;
  border-right: 10px dotted yellow;
  font-size: 1.5em;
  margin: 1.5em 2em 2em;
  padding: 1.5em 2em 2em;
  outline: solid 5px pink;
  outline-offset: 7px;
}
.circle {
  margin: 3rem auto;
  background-color: rgb(150, 150, 216);
  width: 100px;
  height: 100px;
  border: 2px solid rgb(177, 78, 190);
  border-radius: 50px;
  outline: 2px solid rgb(211, 131, 131);
  outline-offset: 0.25rem;
}
