@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  padding: 10%;
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
}

a {
  color: steelblue;
  text-decoration: none;
  /* cursor: not-allowed; */
  /* basic to cursor:pointer */
  color: blue;
}

a:visited {
  color: purple;
}

a:hover,
a:focus {
  opacity: 0.9;
  /*   color: dodgerblue; */
}

a:active {
  color: red;
}
